In [1]:
import pandas as pd
import joblib

In [2]:
scaler=joblib.load('scaler.joblib')

In [3]:
test=pd.read_csv('test.csv')

In [4]:
test.head()

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
0,2190,1,1019.5,17.5,15.8,12.7,14.9,96.0,99.0,0.0,50.0,24.3
1,2191,2,1016.5,17.5,16.5,15.8,15.1,97.0,99.0,0.0,50.0,35.3
2,2192,3,1023.9,11.2,10.4,9.4,8.9,86.0,96.0,0.0,40.0,16.9
3,2193,4,1022.9,20.6,17.3,15.2,9.5,75.0,45.0,7.1,20.0,50.6
4,2194,5,1022.2,16.1,13.8,6.4,4.3,68.0,49.0,9.2,20.0,19.4

In [5]:
df=test.drop('id',axis=1)

In [6]:
df.isnull().sum()

day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    1
windspeed        0
dtype: int64

In [7]:
df = pd.DataFrame(scaler.transform(df), columns=df.columns)

In [8]:
#null values is found but we can use median value of the windirection in train set which is 0.206897
df['winddirection']=df['winddirection'].fillna(0.206897)

In [19]:
#logstic regression
lr=joblib.load('logistic.joblib')
test['rainfall']=lr.predict(df)

In [30]:
#SGD
sgd=joblib.load('sgd.joblib')
test['rainfall']=sgd.predict(df)

In [9]:
#naive bayes
gauss=joblib.load('gauss.joblib')
test['rainfall']=gauss.predict(df)

In [19]:
#linear SVC
linear_svc=joblib.load('linear_svc.joblib')
test['rainfall']=linear_svc.predict(df)

In [29]:
svc=joblib.load('svc.joblib')
test['rainfall']=svc.predict(df)

In [39]:
ada=joblib.load('ada.joblib')
test['rainfall']=ada.predict(df)

In [9]:
grad=joblib.load('grad.joblib')
test['rainfall']=grad.predict(df)

In [19]:
rfc=joblib.load('rfc.joblib')
test['rainfall']=rfc.predict(df)

In [30]:
ex=joblib.load('extra_tree.joblib')
test['rainfall']=ex.predict(df)

In [40]:
hist=joblib.load('hist.joblib')
test['rainfall']=hist.predict(df)

In [9]:
xgb=joblib.load('xgb.joblib')
test['rainfall']=xgb.predict(df)

In [9]:
cat=joblib.load('cat.joblib')
test['rainfall']=cat.predict(df)

In [11]:
light=joblib.load('light.joblib')
test['rainfall']=light.predict(df)

In [10]:
voting=joblib.load('voting.joblib')
test['rainfall']=voting.predict(df)

In [11]:
#for saving res.csv
res=pd.DataFrame({
    'id':test['id'],
    'rainfall':test['rainfall']
})
res.to_csv('res.csv',index=False)